img{
    width: 300 px;
    height: 300 px;
}
h1{
    background-color: blueviolet;
    color:brown;

}
button{
    width: 100px;
    height: 30px;
    background-color: blanchedalmond;
    color:aqua;
    font-size: 18px;
    font-weight: bold;

}
a{
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    color: aquamarine;
} 

